// COLOR PALETTE
$clr-primary: #9381FF;
$clr-bg: #f0f2f5;
$clr-secondary: #B8B8FF;
$clr-font: rgba(0, 0, 0, 0.9);
$clr-btn-light: #FFEEDD;
$clr-btn: #FFD8BE;
$primary-gradient: linear-gradient(90deg, $clr-secondary, $clr-primary);

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-sm: 40em;